<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rating, "Rating" %>
    <%= form.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :release_date, "Release Date" %>
    <%= form.date_field :release_date, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Save Movie", class: "form-submit-button" %>
  </div>
<% end %>