<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1 class="title-page">Movies</h1>

<table class="movie-table">
  <thead>
    <tr>
      <th class="<%= 'sorted-column sorted-asc' if params[:sort] == 'title' && params[:direction] == 'asc' %>
                  <%= 'sorted-column sorted-desc' if params[:sort] == 'title' && params[:direction] == 'desc' %>">
        <%= sort_link('title', 'Title') %>
      </th>
      <th class="<%= 'sorted-column sorted-asc' if params[:sort] == 'rating' && params[:direction] == 'asc' %>
                  <%= 'sorted-column sorted-desc' if params[:sort] == 'rating' && params[:direction] == 'desc' %>">
        <%= sort_link('rating', 'Rating') %>
      </th>
      <th class="<%= 'sorted-column sorted-asc' if params[:sort] == 'release_date' && params[:direction] == 'asc' %>
                  <%= 'sorted-column sorted-desc' if params[:sort] == 'release_date' && params[:direction] == 'desc' %>">
        <%= sort_link('release_date', 'Release Date') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr 
        onclick="window.location='<%= movie_path(movie, sort: params[:sort], direction: params[:direction]) %>'"
        style="cursor: pointer;"
      >
        <td class="<%= 'sorted-column sorted-asc'   if params[:sort] == 'title' && params[:direction] == 'asc' %>
                  <%= 'sorted-column sorted-desc' if params[:sort] == 'title' && params[:direction] == 'desc' %>">
          <%= movie.title %>
        </td>
        <td class="<%= 'sorted-column sorted-asc'   if params[:sort] == 'rating' && params[:direction] == 'asc' %>
                  <%= 'sorted-column sorted-desc' if params[:sort] == 'rating' && params[:direction] == 'desc' %>">
          <%= movie.rating %>
        </td>
        <td class="<%= 'sorted-column sorted-asc'   if params[:sort] == 'release_date' && params[:direction] == 'asc' %>
                  <%= 'sorted-column sorted-desc' if params[:sort] == 'release_date' && params[:direction] == 'desc' %>">
          <%= movie.release_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to "New movie", new_movie_path(sort: params[:sort], direction: params[:direction]) %>
      </td>
    </tr>
  </tfoot>
</table>